.card_container {
    display: flex;
    margin: 15px 0;
    color: orange;
  }
  
  .textCard {
    font-size: 22px;
    font-weight: 400;
    color: red;
  }
  .details {
    margin-left: 25px;
    max-width: 400px;
  }
  .genre_list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    
  }
  .genre_item {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    
    
  }